
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */

#nav{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  height: 70px;
}
#nav::before{
    content: "";
    background-color: #676161;
    position: absolute;
    height: 102%;
    width: 100%;
    top: 0px;
    z-index: -1;
    opacity: 0.5;
}
.navlink{
    display: flex;
    align-items: center;
    text-decoration: none;
}
navbar ul li{
    list-style: none;
    font-size: 22px;
}
navbar ul li a{
  color: white;
  display: block;
  margin-top: -6px;
  padding: 5px 16px;
  text-decoration: none;
}
navbar ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 15px;
}
#logo{
  margin-left: 264px;
  margin-right: 2px;
}
#logo img{
  height: 90px;
  width: 96px;
  filter: invert(100%);
}  
.primary{
  text-align: center;
}

/* Home */

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 625px;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../img/bg2.jpg') no-repeat center center/cover;
    height: 721px;
    width: 100%;
    top: 0px;
    z-index: -1;
}
#home h1{
    font-size: 45px;
    margin: 28px 0px;
}
#home p{
    padding: 5px 5px;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}
#word{
  font-weight: 800;
  margin: 13px 0px;
  margin-top: 4px;
  font-size: 30px;
}

.section_heading {
  font-family: "Akaya Telivigala", cursive;
  color: darkslategray;
  text-align: center;
  margin-top: 15px;
  margin-bottom: -155px;
  padding-top: 20px;
  }
  
  .section_heading span:nth-child(2) {
    display: block;
    margin: 6px auto;
    width: 70px;
    height: 4px;
    border-radius: 10px;
    background: rgba(102, 51, 153, 0.637);
  }
  
  /* Analytics */
  
  .analytics_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: url('/img/analytics.jpg');
    margin-top: 180px;
    margin-bottom: 50px;
  }
  
  .analytics_box .analytics_item {
    text-align: center;
    margin-top: 25px;
  }
  
  .analytics_box .analytics_item img {
    width: 90px;
    height: auto;
    margin: auto;
    padding: 10px;
    border: 4px double black;
    border-radius: 50%;
  }
  
  .analytics_box .analytics_item .analytics_count {
    margin-top: 15px;
  }
  
  .analytics_box .analytics_item .analytics_term {
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: 20px !important;
  }

/* Footer */
footer{
  background: black;
  position: relative;
  color: white;
  padding: 11px 20px;
  bottom: 1px;
  left: 0px;
  text-align: center;
}
 

